
.login-page {
    background: #0f172a;
    color: #f8fafc;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0; /* important */
    padding: 0; /* important */
}

.login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-title {
    font-size: 2rem;
    font-weight: 700;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: white;
    border-radius: 12px;
    padding: 30px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #e2e8f0;
    color: #000;
}

.login-btn {
    padding: 12px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
